@charset "UTF-8";

footer {
    background-color: var(--cor7);
}

#footer_itens{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright{
    color: var(--cor3);
    font-weight: 600;
}

@media screen and (max-width:600px) {
    #footer_itens{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
}