@charset "UTF-8";

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 30px;;
}

.dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
    width: 25%;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.dish_heart{
    position: absolute;
    background-color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--cor1);
    width: 70px; height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish_description{
    color: var(--cor6);
    text-align: center;
}

.dish_rate > i {
    color: var(--cor5);
}

.dish_price{
    display: flex;
    align-items: center;
    gap: 20px;
}